streamlit
Flask
google-adk
pypdf
pytesseract
Pillow
python-docx
python-pptx
openpyxl
google-generativeai
ollama
PyYAML
python-i18n
faiss-cpu
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
sentence-transformers
pymupdf4llm
